@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  font-family: "Lato", sans-serif;
  font-style: normal;
  background-color: #fff3f7;
}

.menu {
  background: linear-gradient(to right, #fbc2eb, #a6c1ee);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 24px;
  gap: 32px;
}

.menu-top {
  display: flex;
  align-items: center;
  gap: 8px;
}

.menu-title {
  color: #6a1b9a;
  font-family: "Playfair", serif;
  font-weight: 200;
  font-size: 32px;
}

.container-menu {
  display: flex;
  justify-content: space-around;
  width: 50%;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: #6a1b9a;
  cursor: pointer;
  transition: 0.3s ease-out;
  font-size: 16px;
  line-height: 1.5;
}

.nav-link:hover {
  transform: scale(1.125);
  color: #6f6d6d;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: box-shadow 0.3s ease;
}

.main {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 64px;
  gap: 64px;
}

.main-h3{
  font-size: 20px;
}

.form {
  min-height: 40%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 32px;
  gap: 16px;
}

.form-container {
  text-align: center;
}

#nome,
#email,
#telefone,
#mensagem {
  width: 100%;
  padding: 0.75rem;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1rem;
  box-sizing: border-box;
}

/* Estilo para textarea */
#mensagem {
  resize: vertical;
}

/* Estilo para os labels, se estiverem presentes */
label {
  display: block;
  text-align: left;
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 0.2rem;
}